.auto-complete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .auto-complete-input {
    height: 5vh;
    width: 50%;
    margin: 0 0 2% 0;
    border-radius: 10px;
  }
 